.....

Subsystem	sftp	internal-sftp

# Example of overriding settings on a per-user basis
Match User *,!root
	X11Forwarding no
	AllowTcpForwarding no
	PermitTTY yes
	ChrootDirectory /jail/%u
	#ForceCommand internal-sftp
